<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <link rel = "stylesheet" th:href = "@{/css/card.css}"/>
</head>

<body>

<div th:if = "${cafeList!=null}" class="wrap" th:each="cafe: ${cafeList}">
  <div class="card">

    <div class="image" href = "#">
    </div>

    <div>
      <h1 class="title" th:text="${cafe.name}"></h1>
    </div>

    <div class="address">
      <p th:text="${cafe.baseAddress}">부산광역시 주례로 51 794-31</p>
    </div>

  </div>


    </div>

  </div>
</div>

</body>
</html>