<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" th:href = "@{/css/mypage_three.css}"/>

</head>
<body>
<h2 class="stamp-cafe-title">카페이름</h2>

<div class="stamp-frame">

    <div class="cafe-stamp">

        <div class="circle-1" th:id = "stamp-dot" ></div>
        <div class="circle-2" th:id = "stamp-dot" ></div>
        <div class="circle-3" th:id = "stamp-dot" ></div>
        <div class="circle-4" th:id = "stamp-dot" ></div>
        <div class="circle-5" th:id = "stamp-dot" ></div>
        <div class="circle-6" th:id = "stamp-dot" ></div>
        <div class="circle-7" th:id = "stamp-dot" ></div>
        <div class="circle-8" th:id = "stamp-dot" ></div>
        <div class="circle-9" th:id = "stamp-dot" ></div>
        <div class="circle-10" th:id = "stamp-dot"></div>

    </div>
    <div class="release-date">
        스탬프 발행일 :
    </div>
</div>
</body>
</html>