<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|내정보 : ${loginUser.name}|">My Page</title>
</head>
<body>
<!--헤더 프레그먼트-->
<div th:insert="~{fragments :: headerFragment}"></div>
<a th:href="@{/user/mypage}">내 정보</a>
<a th:href="@{/user/mypage/propensity}">내 성향</a>
<a th:href="@{/user/mypage/cafe}">나의 카페들</a>
<a th:href="@{/user/mypage/stamp}">내 스탬프 판들</a>
<a th:href="@{/user/mypage/order}">주문내역</a>
<a th:href="@{/user/mypage/gift}">내 쿠폰</a>

<h2>내 성향</h2>

<div th:if="${propensity!=null}">
    <ul>
        <li>
            <span th:text="|풍경중요도(1-10사이): ${propensity.sceneryImportance}|"></span>
        </li>
        <li>
            <span th:text="|인테리어중요도(1-10사이): ${propensity.interiorImportance}|"></span>
        </li>
        <li>
            <span th:text="|메뉴중요도(1-10사이): ${propensity.menuImportance}|"></span>
        </li>
        <li>
            <span th:text="|분위기(1:조용 - 10:떠들석): ${propensity.mood}|"></span>
        </li>
    </ul>
    <span>선호풍경</span>
    <ul>
        <li th:each="sp : ${propensity.getSceneryPreferredList()}">
            <span th:text="${sp.scenery.display}"></span>
        </li>
    </ul>
    <span>선호메뉴카테고리</span>
    <ul>
        <li th:each="cp : ${propensity.getMenuPreferredList()}">
            <span th:text="${cp.category.display}"></span>
        </li>
    </ul>
</div>

<div th:unless="${propensity!=null}">
    <form th:action="@{/user/mypage/propensity}" th:method="post">
        <input name="userId" th:value="${loginUser.id}" hidden="hidden">
        <ul>
            <li>
                <label for="sceneryImportance">풍경중시도(1~10사이)</label>
                <input type="range" name="sceneryImportance" id="sceneryImportance" th:value="${propensity.sceneryImportance}" min="1" max="10">
            </li>
            <li>
                <label for="interiorImportance">인테리어중시도(1~10사이)</label>
                <input type="range" name="interiorImportance" id="interiorImportance" th:value="${propensity.interiorImportance}" min="1" max="10">
            </li>
            <li>
                <label for="menuImportance">메뉴중시도(1~10사이)</label>
                <input type="range" name="menuImportance" id="menuImportance" th:value="${propensity.menuImportance}" min="1" max="10">
            </li>
            <li>
                <label for="mood">분위기(1:조용 <---> 10:떠들석)</label>
                <input type="range" name="mood" id="mood" th:value="${propensity.mood}" min="1" max="10">
            </li>
            <li>
                <label for="sceneryPreferred">선호풍경</label>
                <select name="sceneryPreferred" id="sceneryPreferred">
                    <option th:each="scenery : ${T(com.teamseven.cafeplatform.domain.propensity.common.Scenery).values()}"
                            th:value="${scenery}"
                            th:text="${scenery.display}"></option>
                </select>
            </li>
            <li>
                <label for="menuPreferred">선호메뉴카테고리</label>
                <select name="menuPreferred" id="menuPreferred">
                    <option th:each="category : ${T(com.teamseven.cafeplatform.domain.cafe.common.Category).values()}"
                            th:value="${category}"
                            th:text="${category.display}"></option>
                </select>
            </li>
        </ul>
        <input type="submit" value="내 성향 등록하기">
    </form>
</div>

    <button type="button" onclick="window.history.back()">이전으로</button>

</body>
</html>