<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|내정보 : ${loginUser.name}|">My Page</title>
</head>
<body>
<!--헤더 프레그먼트-->
<div th:insert="~{fragments :: headerFragment}"></div>
<a th:href="@{/user/mypage}">내 정보</a>
<a th:href="@{/user/mypage/propensity}">내 성향</a>
<a th:href="@{/user/mypage/cafe}">나의 카페들</a>
<a th:href="@{/user/mypage/stamp}">내 스탬프 판들</a>
<a th:href="@{/user/mypage/order}">주문내역</a>

<h2>내 스탬프 판들</h2>

<ul>
    <li th:each="board : ${stampBoards}">
        <span th:text="|카페: ${board.cafeMember.cafe.name}|">가나다카페:</span>
        <span th:text="|총 ${board.stampSetting.totalStamp.getNumber()}개 중 ${board.accruedStamp}개 모음음|">총 10개 중 5개 모음</span>
        <span th:text="|유효기간: ${board.expirationDate}|">유효기간 20000000까지</span>
        <span th:text="|10개 보상: ${board.stampSetting.getGiftFirst().name}|">10개 보상: 아메리카노</span>
        <span th:if="${board.stampSetting.totalStamp.getNumber()==20}" th:text="|20개 보상: ${board.stampSetting.getGiftSecond().name}|">20개 보상: 모카</span>
    </li>
</ul>


    <button type="button" onclick="window.history.back()">이전으로</button>

</body>
</html>