<!DOCTYPE html>

<head>

    <link rel = "stylesheet" th:href = "@{/css/cafe_add_3.css}"/>

    <link rel = "stylesheet" href = "../Navbar/style.css"/>
    

</head>
<body>
<div th:insert="/common/navbar"></div>
<div class="enroll3">
    <div class="enroll-container-3">
        <div class="enroll-title-6">
            <h2 class="title-name-4">
                카페 성향 등록
            </h2>
        </div>

        <button class="exit-button">나가기</button>

        <div class="style-card">
            <p class="tend-title-1">풍경</p>
            <p class="tend-content-1">당신의 카페의 풍경이 어떠한가요?</p>


                <p class="tend-mark">A</p>
                <p class="tend-input-1">산</p>
                <input type = "checkbox" class="tend-check"/>

                <p class="tend-mark-2">A</p>
                <p class="tend-input-2">바다</p>
                <input type="checkbox" class="tend-check-2"/>

                <p class="tend-mark-3">A</p>
                <p class="tend-input-3">도시</p>
                <input type="checkbox" class="tend-check-3"/>
        </div>
        <div class="line"></div>
        <div class="line-2"></div>
        <!-- <div class="style-card-2"> -->
        <!-- </div> -->
    </div>

    <div class="style-card-2">
        <p class="tend-title-2">분위기</p>
        <p class="tend-content-2">당신의 카페의 분위기가 어떠한가요?</p>
        <!-- <div class="exam"></div> -->

    
        <p class="tend-mark-4">A</p>
        <p class="tend-input-4">고요함</p>
        <input type="checkbox" class="tend-check-4"/>


        <p class="tend-mark-5">A</p>
        <p class="tend-input-5">잔잔한 음악</p>
        <input type="checkbox" class="tend-check-5"/>

        <p class="tend-mark-6">A</p>
        <p class="tend-input-6">시끌벅적</p>
        <input type="checkbox" class="tend-check-6"/>

    </div>
    <div class="line-3"></div>
    <div class="line-4"></div>

    <div class="style-card-3">
        <p class="tend-title-3">인테리어</p>
        <p class="tend-content-3">당신의 카페의 인테리어는 어떠한가요?</p>
        
        <p class="tend-mark-7">A</p>
        <p class="tend-input-7">원목</p>
        <input type="checkbox" class="tend-check-7"/>

        <p class="tend-mark-8">A</p>
        <p class="tend-input-8">모던</p>
        <input type="checkbox" class="tend-check-8">

        <p class="tend-mark-9">A</p>
        <p class="tend-input-9">기타 컨셉</p>
        <input type="checkbox" class="tend-check-9">

        </div>
    <div class="line-5"></div>

</div>

<button class="next-button" href = "#">
    등록
</button>

</body>
</html>