<!DOCTYPE html>
<head>

    <link rel = "stylesheet" th:href = "@{/css/cafe_manage_stamp_manage.css}"/>

</head>


<body>

<!--점포관리(스탬프관리)-->

<div th:insert="/common/navbar"></div>

<div class="shop-manage-wrap-2">
    <div class="shop-manage-tab-2">
        <a href = "/cafe/manage/getmoney">
        <button class="shop-sell-2">
            매출 관리
        </button>
        </a>

        <a href = "#">
        <button class="shop-menu-2">
            메뉴 관리
        </button>
        </a>

        <a href = "/cafe/manage/stamp">
        <button class="shop-stamp-2">스탬프 관리</button>
        </a>

        <a href = "/cafe/manage/propensity">
        <button class="shop-marry-2">성향 서비스</button>
        </a>
    </div>

    <select name="" id="" class="cafe-select">

    </select>

    <button class="prev-level"><</button>
    <h4 class="month-title">1월</h4>
    <button class="next-level">></button>

    <div class="stamp-manage-container">
        <div class="stamp-frame">

            <div class="cafe-stamp">

                <div class="circle-1" th:id = "stamp-dot" ></div>
                <div class="circle-2" th:id = "stamp-dot" ></div>
                <div class="circle-3" th:id = "stamp-dot" ></div>
                <div class="circle-4" th:id = "stamp-dot" ></div>
                <div class="circle-5" th:id = "stamp-dot" ></div>
                <div class="circle-6" th:id = "stamp-dot" ></div>
                <div class="circle-7" th:id = "stamp-dot" ></div>
                <div class="circle-8" th:id = "stamp-dot" ></div>
                <div class="circle-9" th:id = "stamp-dot" ></div>
                <div class="circle-10" th:id = "stamp-dot"></div>

            </div>
            <div class="release-date">
                스탬프 발행일 :
            </div>
        </div>

    </div>


</div>

<!-- 임시 include 대신 사용 -->
<script>

    window.addEventListener('load', function() {
        var allElements = document.getElementsByTagName('*');
        Array.prototype.forEach.call(allElements, function(el) {
            var includePath = el.dataset.includePath;
            if (includePath) {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        el.outerHTML = this.responseText;
                    }
                };
                xhttp.open('GET', includePath, true);
                xhttp.send();
            }
        });
    });

</script>


</body>
</html>