<!DOCTYPE html>
<head>
    <link rel = "stylesheet" th:href = "@{/css/cafe_manage_propensity_order.css}"/>

</head>


<body>

<div th:insert="/common/navbar"></div>

<!--점포관리(성향결제창)-->

<div class="shop-manage-wrap-4">
    <!-- <div class="shop-manage-tab-4">
        <button class="shop-sell-4">
            매출 관리
        </button>
        <button class="shop-menu-4">
            메뉴 관리
        </button>
        <button class="shop-stamp-4">스탬프 관리</button>
        <button class="shop-marry-4">성향 서비스</button>
    </div> -->

    <div class="attract-order">
        <h1 class="order-title-1">주문/결제</h1>

        <div class="purchase-info">
            <p class="purchase-human">구매자 정보</p>

            <p class="purchase-name">이름</p>
            <p class="purchase-email">이메일</p>
            <p class="phone-number">휴대폰 번호</p>
        </div>
    </div>

    <div class="order-items">

    </div>


</div>




</body>
</html>