<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|내정보 : ${loginUser.name}|">My Page</title>
</head>
<body>
<!--헤더 프레그먼트-->
<div th:insert="~{fragments :: headerFragment}"></div>
<a th:href="@{/cafe/cafemanagemoney}">월별 매출 조회</a>
<a th:href="@{/cafe/cafemanagestamp}">스탬프 관리</a>
<a th:href="@{/cafe/cafemanagepropensity}">성향 관리</a>
<a th:href="@{/cafe/cafemanagepartner}">성향서비스 제휴</a>

<h2>성향서비스 제휴</h2>
<p>성향서비스를 이용하면 유저와 카페의 성향을 비교하여 가장 점주님의 카페에 관심있어할 만한 유저들에게 자동으로 추천됩니다.</p>
<p>현재 제휴 상태: <span th:text="${cafe.partnerState}"></span></p>
<div th:if="${cafe.partnerState}">
    <ul th:if="${partnership!=null}">
        <li th:text="|시작일: ${partnership.startDate}|"></li>
        <li th:text="|종료일: ${partnership.endDate}|"></li>
        <li th:text="|성향 서비스 제휴를 통해서 ${partnership.viewCount}회 더 고객들에게 노출되었습니다!|"></li>
    </ul>
</div>
<div th:unless="${cafe.partnerState}">
    <form th:action="@{/cafe/cafemanagepartner}" method="post">
        <input type="hidden" name="cafeId" th:value="${cafe.id}">
        <input type="submit" value="제휴 맺기(누르면 한달씩 추가됩니다)">
    </form>
</div>

<button type="button" onclick="window.history.back()">이전으로</button>

</body>
</html>