<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CafePlatform</title>
</head>
<body>
<!--헤더 프레그먼트-->
<div th:insert="~{fragments :: headerFragment}"></div>
<a th:href="@{/cafe/cafepage(cafeId=${cafe.id})}">카페소개</a>
<a th:href="@{/cafe/cafepagemenu(cafeId=${cafe.id})}">메뉴</a>
<a th:href="@{/cafe/cafepagereview(cafeId=${cafe.id})}">리뷰</a>
<div th:if="${loginUser!=null}">
    <a th:href="@{/cafe/cafepagestamp(cafeId=${cafe.id})}">스탬프</a>
    <a th:href="@{/cafe/cafepageorder(cafeId=${cafe.id})}">주문내역</a>
</div>

<h2 th:text="${cafe.name}">ㅇㅇㅇ카페</h2>
<h2>메뉴</h2>
    <div class="form-group">
        <table>
            <tr>
                <th>사진</th>
                <th>이름</th>
                <th>카테고리</th>
                <th>가격</th>
            </tr>
            <tr th:each="menu:${cafe.menus}">
                <td>
                    <img width="200" th:if="${menu.photo.saveName!=null}" th:src="'/display?filename='+${menu.photo.saveName}" alt="이미지 로딩중..." src="/images/system/noImg.jpg"/>
                    <img width="200" th:unless="${menu.photo.saveName!=null}" alt="이미지 로딩중..." src="/images/system/noImg.jpg"/>
                </td>
                <td th:text="${menu.name}"></td>
                <td th:text="${menu.category.display}"></td>
                <td th:text="${menu.price}"></td>
            </tr>
        </table>
    </div>
    <button type="button" onclick="window.history.back()">이전으로</button>

</body>
</html>