<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" th:href = "@{/css/cafe_detail_main.css}"/>

</head>
<body>
<div th:include="/common/navbar"></div>
<div class="cafeInfo">
    <div class="cafeInfo-container"></div>
    <p class="cafeTitle">머시기카페</p>
    <img class="star-icon-1" src="./star-icon.png">
    <img class="star-icon-2" src="./star-icon.png">
    <img class="star-icon-3" src="./star-icon.png">
    <img class="star-icon-4" src="./star-icon.png">
    <img class="star-black-icon-5" src="./star-black-icon.png">
    <p class="cafeRating">4</p>
    <p class="review-history">최근 리뷰 12</p>
    <p class="orderStamp">최소 주문 당 스탬프 12,000원</p>
    <hr class="line1">
    <hr class="line2">
    <p class="addressContent">주소 : 부산광역시 사상구 주례로 51</p>
    <button class="main-tab">메인</button>
    <button class="menu-tab" >메뉴</button>
    <button class="review-tab">리뷰</button>
    <button class="stamp-tab">스탬프</button>
    <button class="orderhistory-tab">주문내역</button>
    <button class="customer-enroll-button">고객 등록하기</button>
    <img src="./cafeImage_1.png" class="cafeImage-1">
    <img src="./cafeImage_2.png" class="cafeImage-2">
    <img src="./cafeImage_3.png" class="cafeImage-3">
    <img src="./cafeImage_4.png" class="cafeImage-4">
    <img src="./cafeImage_1.png" class="cafeMainImage">

</div>


</body>
</html>