<!DOCTYPE html>

<head>

    <link rel = "stylesheet" th:href = "@{/css/cafe_add_2.css}"/>

    <link rel = "stylesheet" href = "../Navbar/style.css"/>
    

</head>
<body>
<div th:include="/common/navbar"></div>
 
    <div class="enroll2">
        <div class="enroll-title-4">
            <h2 class="title-name-2">
                카페 테마 설정
            </h2>
        </div>

        <div class="cafe-color">
        <p>카페 색 지정</p>
        <input type ="color" />
        </div>

        <div class="enroll-title-5">
            <h2 class="title-name-3">
                카페 스탬프 설정
            </h2>
        </div>

        <button class = "exit-button">
            나가기
        </button>

    <div class="stamp-container">

        <div class="enroll-container-2">

            <div class="stamp-inner">
                <input type="checkbox" class="stamp"/>
                <img src="./stamp.png" class = "stamp-image" />
            </div>

            <div class="stamp-inner-2">
                <input type="checkbox" class="stamp-2"/>
                <img src="./stamp.png" class = "stamp-image-2" /> 
            </div>

             <div class="stamp-inner-3">
                <input type="checkbox" class="stamp-3"/>
                <img src="./stamp.png" class = "stamp-image-3" />  
            </div>
        
             <div class="stamp-inner-4">
                <input type="checkbox" class="stamp-4"/>
                <img src="./stamp.png" class = "stamp-image-4" /> 
            </div>
        </div>

        <a href = "/cafe/add/3">
        <button class="next-button">
            다음
        </button>
        </a>

    </div>

    </div>


<script>
 

</script>
   
</body>
</html>