<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!--
카드 리스트
-->

<div th:insert="/common/navbar"></div>

<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th> <th>이름</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cafe : ${cafes}">
                <td th:text="${cafe.id}"></td>
                <td th:text="${cafe.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->

</body>
</html>